<nav class="nav">
  <div class="nav-container">
    <div class="left">
      <div class="brand" (click)="go('/')">Football Federation Tournament</div>
      <div class="links">
        <button class="link" (click)="go('/')">Home</button>
        <button class="link" (click)="go('/bracket')">Bracket</button>
        <button class="link" (click)="go('/scorers')">Top Scorers</button>
        <button class="link" (click)="go('/register')">Register</button>
        <button class="link" (click)="go('/teams')">Teams</button>
        <button mat-stroked-button
                class="link"
                routerLink="/admin"
                routerLinkActive="active"
                type="button">
          Admin
        </button>
      </div>
    </div>
    <div class="right">
      <ng-container *ngIf="email; else signedOut">
        <span class="who">{{ email }}</span>
        <button class="btn secondary" (click)="logout.emit()">Logout</button>
      </ng-container>
      <ng-template #signedOut>
        <button type="button" class="btn" (click)="go('/login')">Login</button>
      </ng-template>
    </div>
  </div>
</nav>
