.card {
  max-width: 1200px;
  margin: 16px auto;
  padding: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  gap: 16px;
  margin-top: 12px;
}
